/* Style pour l'image de fond */
.background-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Assurez-vous que le contenu commence en haut */
    align-items: center;
    padding-top: 20px; /* Espacement du titre avec le haut de la page */
  }
  
  /* Style du titre */
  header h1 {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 2rem; /* Espacement du titre par rapport aux boxes */
  }
  
  /* Style de la zone de contenu des voitures */
  .car-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%; /* Assurez-vous que la zone de contenu prend toute la largeur */
  }
  
  /* Style des boxes des voitures */
  .car-box {
    background-color: rgba(255, 255, 255, 0.1);
    width: 250px;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 8px 15px #ff5733;
    color: #fff;
    border-color: #ff5733;
    text-align: center;
    transition: transform 0.3s ease;
    margin: 20px;
  }
  
  /* Effet de survol des boxes */
  .car-box:hover {
    transform: scale(1.05);
  }
  
  /* Taille et style du titre de chaque box */
  .car-box h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  /* Style des paragraphes dans chaque box */
  .car-box p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .car-box p:last-child {
    margin-bottom: 0;
  }
  
  /* Texte de chargement */
  .loading-text {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    margin-top: 20px;
  }
  
  /* Message d'erreur */
  .error-message {
    font-size: 1.5rem;
    color: red;
    text-align: center;
    margin-top: 20px;
  }
  